/* NOTE Les importations */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* NOTE Variables CSS */
:root {
    --bleu_1: #0065FC;
    --bleu_2: #DEEBFF;
    --gris_bg: #f2f2f2;
} 

/* SECTION Générales */
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.app {
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 25px;
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.f10 {
    flex: 10;
}
.f4 {
    flex: 4
}
.space-section {
    margin-bottom: 50px;
}
.marginleft {
    margin-left: 30px;
}
p {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

h2.section-title {
    font-weight: 700;
}


.container {
    width: 100%;
    position: relative;
} 

.show-mobile {
    display: none !important;
}

.hide-mobile {
    display: inherit;
}

/* !SECTION Générales */



/* SECTION Les classes */

/* NOTE En tête */
.header-icon {
    position: relative;
}

.header-icon img {
    height: 50px;
} 

nav.nav-header {
    flex: 1
}

nav.nav-header ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    align-self: center;
}
nav.nav-header ul li {
    list-style-type: none;
    padding: 0 20px;
    margin: 0 20px;
    align-items: center;
    border-top: 2px solid transparent;
    height: 100%;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
nav.nav-header ul li:hover {
    border-color: var(--bleu_2);
}
nav.nav-header ul li.active {
    border-color: var(--bleu_1);
    color: var(--bleu_1);
}
/* NOTE Brand welcome*/
.brand-welcome h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.brand-welcome p {
    margin: 12px 0;
    padding: 0;
}
/* NOTE Les filtres */
.filter {
    padding-top: 15px;
}
.filter .search-bar {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 350px;
    overflow: hidden;
    margin: 15px 0;
}

.filter .search-bar .search-icon {
    padding: 0 15px;
    background-color: var(--gris_bg);
    height: 100%;
    display: flex;
    align-items: center;
}

.filter .search-bar .search-input {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
 
    overflow: hidden;
    outline: none;
    padding: 0 15px;
    font-weight: 700;
}

.filter .search-bar .search-input br {
    display:none;
}

.filter .search-bar .search-input * {
    display:inline;
    white-space:nowrap;
}

.filter .search-bar .search-submit {
    padding: 0 15px;
    background-color: var(--bleu_1);
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    font: inherit;
    outline: none;
}
.filter .tags {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter .tags .tags-head {
    font-weight: 700;
}
.filter .tags .tag-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.filter .tags .tag-list .tag {
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    margin-right: 15px;
}

.filter .tags .tag-list .tag:hover {
    background-color: var(--bleu_1);
}
.filter .tags .tag-list .tag:hover > .tag-title {
    color: #fff;
}
.filter .tags .tag-list .tag:hover .tag-icon {
    background-color: rgba(0,0,0,0.15);
}
.filter .tags .tag-list .tag:hover .tag-icon i.fas{
    color: #fff;
}
.filter .tags .tag-list .tag .tag-icon {
    width:40px;
    height: 40px;
    background-color: var(--bleu_2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.filter .tags .tag-list .tag .tag-icon i.fas{
    color: var(--bleu_1);
    font-size: 14px;
}
.filter .tags .tag-list .tag .tag-title {
    padding: 0 15px;
    font-weight: 700;
}
/* NOTE Info panel */
.info-panel {
    display: flex;
    align-items: center;
}
.info-panel .ip-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-panel .ip-icon i.fas{
    font-size: 12px;
    color: var(--bleu_1);
}
.info-panel p {
    padding-left: 10px;
}

/* NOTE Les panels & cartes*/
.flex-panel {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}
.card-panel {
    padding: 15px 30px;
    border-radius: 25px;
    background-color: var(--gris_bg);
}
.cards-grid {
    display: flex;
    flex-wrap: wrap
}

.card .card-title {
    font-weight: 700;
}

.cards-grid .card {
    width: calc(33% - 38px); /* 38 = (margin * 2 + padding * 2 + border width) */
    height: 200px;
    background: #fff;
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    transition: all .2s ease-in-out;
    margin: 15px;
    border: 2px solid transparent
}
.cards-grid .card:hover {
    cursor: pointer;
    transform: translateY(-3px);
    border-color: var(--bleu_1)
}

.cards-grid .card-cover {
    width: 100%;
    height: 60%;
    position: relative;
} 
.cards-grid .card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cards-grid .paddme {
    padding: 10px;
}
.cards-grid .card-price {
    font-size: 14px;
}
.cards-grid .card-price .value {
    font-weight: 600;
}
.cards-grid .card-review {
    padding-top: 5px;
}
.cards-grid .card-review i.fas{
    color: var(--gris_bg);
    font-size: 14px;
}
.cards-grid .card-review i.fas.light{
    color: var(--bleu_1)
}
.card-panel .more {
    padding: 15px;
    font-weight: 700;
}

.card-panel .h3-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.card-panel .h3-icon .icon{
    flex: 1;
    justify-content: flex-end;
    display: flex;
}
.card-panel .h3-icon .icon i.fas {
    font-size: 20px;
}
/* NOTE Les plus populaires */

.top-host {
    padding: 15px 0;
}

.top-host .card {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    height: 125px;
    /* overflow: hidden; */
    flex: 1 0 0;
    margin-top: 30px;
    -webkit-box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
}
.top-host .card:first-child {
    margin-top: 15px;
}
.top-host .card .card-cover {
    flex: 3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.top-host .card .card-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-host .card .card-meta {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.top-host .card .card-price {
    font-size: 14px;
    padding: 5px 0;
}
.top-host .card .card-review {
    flex: 1;
    align-items: flex-end;
    display: flex;
}

.top-host .card .card-review .fas{
    font-size: 13px;
    margin-right: 2px;
    color: var(--gris_bg);
}
.top-host .card .card-review .fas.light {
    color: var(--bleu_1);
}
/* NOTE Activités & cartes */

.wall-promo {
    display: flex;
}

.wall-promo .card {
    flex: 1;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
}

.wall-promo .cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}
.wall-promo .cards > .card {
    flex: 1 0 0
}
.wall-promo .cards > .card.zoom {
    flex: 1.5 0 0;
}
.wall-promo .cards > .card:first-child {
    margin-bottom: 40px;
}
.wall-promo .cards:last-child {
    margin-right: 0;
}
.wall-promo .card-preview {
    flex: 1;
    position: relative;
    height: 0;
}
.wall-promo .card-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wall-promo .card-footer {
    padding: 20px;
    text-align: left;
}
.wall-promo .card-footer p{
    font-weight: 700;
}

/* NOTE FOOTER */
footer {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--gris_bg);
    margin-top: 30px;
}

footer ul {
    flex: 1;
    padding: 15px;
    margin: 0;
}

footer ul .list-title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
}
footer ul .list-item {
    padding: 5px 0;
    font-weight: 500;
}


/* !SECTION Les classes */

/* SECTION Les Media Query */

/* NOTE Mobile */
@media screen and (max-width: 1250px) {
    .app {
        padding: 0;
    }
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: inherit !important;
    }
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header {
        display: block;
        height: auto;
        width: 100%;
    }
    .header-icon {
        text-align: center;
        padding-top: 20px;
    }
    nav.nav-header {
        margin-top: 15px
    }
    nav.nav-header ul li {
        border-top: 0;
        border-bottom: 2px solid transparent;
        padding: 15px;
        font-size: 16px;
        flex: 1;
        margin: 0;
        justify-content: center;
    }
    nav.nav-header {
        display: block;
    }
    .brand-welcome h1 {
        font-size: 22px;
    }
    .filter .search-bar {
        width: 100%
    }
    .search-submit-mobile {
        display: block;
    }
    .filter .tags {
        display: block;
    }
    .filter .tags .tag-list {
        display: inline-block;
        padding: 0;
    }
    .filter .tags .tag-list .tag {
        display: inline-flex;
        margin-bottom: 15px;
    }
    .flex-panel {
        width: 100%;
        display: flex;
        flex-flow: column;
        flex-direction: column;
    }
    .card-panel {
        display: block;
        border-radius: 0;
        margin: 0;
    }
    .card-panel.f10 {
        order: 2;
        background-color: transparent;
    }
    .card-panel.f4 {
        order: 1;
    }

    .cards-grid .card {
        display: block;
        width: 100%;
        margin: 15px 0
    }
    
    .wall-promo {
        display: block;
        text-align: center;
    }
    .wall-promo .card {
        width: 100%;
        height: 200px;
    }
    .wall-promo .cards {
        display: block;
        margin: 20px 0;
    }
    .wall-promo .cards > .card:first-child {
        margin-bottom: 20px;
    }

    footer, footer ul {
        display: block
    }
    footer {
        margin-top: 25px;
    }
    .space-section {
        margin-bottom: 15px;
    }
    section {
        padding: 0 30px
    }
}
/* NOTE Tablette */
@media screen and (min-width: 768px) and (max-width: 1250px) {
    .cards-grid .card {
        display: inline-block;
        width: 45%;
        margin: 15px auto;
        margin-right: 25px;
    }
    .wall-promo .card {
        display: inline-flex;
        width: calc(50% - 45px);
        margin: 20px;
    }
    .wall-promo .cards {
        display: inline;
    }
    .top-host {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .top-host .card {
        min-width: 45%;
        margin: 5px 5px;
        display: inline-flex;
    }
}


/* !SECTION Les Media Query */
